<div *ngIf="siteDownService.appdown">
    <br>
    <br>
    <br>
    <div class="container" >
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <div class="text-center">
                        <h2>We are having site issues.</h2>
                        <p>Please Try Again Later... </p>
                        <small>Maybe we need to make a DummyApp appointment for our system.</small>
                        <img src="/assets/images/DummyApp-Logo.png">
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>


</div>
